@page "/room/{Id}"

<PageTitle>Room detail</PageTitle>

<h1>Room detail</h1>

<div class="pa-2">
    <div class="d-flex justify-space-between align-center" style="width: 100%;">
        <MudText Typo="Typo.h5">Materials</MudText>

        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary"
            Size="Size.Small">Upload materials</MudButton>

    </div>

    <div style="width: 100%; border: 1px solid;" class="my-4" />


    @if (Items != null && Items.Any())
    {
        <div class="mud-grid mud-grid-spacing-xs-2">
            @foreach (var item in Items)
            {
                <MudCard Class="p-4 mud-width-full">
                    @* <MudCardContent>
                        <MudText Typo="Typo.h6">@item.Name</MudText>
                        <MudText Typo="Typo.caption">ID: @item.Id</MudText>
                        <MudText Typo="Typo.caption">Password: @item.Password</MudText>
                        <MudText Typo="Typo.caption">Sources: @item.Sources</MudText>
                    </MudCardContent> *@
                </MudCard>
            }
        </div>
    }
    else
    {
        <MudPaper Class="pa-4">
            <MudStack AlignItems="AlignItems.Center">
                <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.ImageNotSupported" Title="Empty" />
                <MudText Typo="Typo.h5">No materials available</MudText>
            </MudStack>
        </MudPaper> <!-- Or something like <MudText>No rooms available</MudText> -->
    }
</div>

<div class="pa-2">
    <div class="d-flex justify-space-between align-center" style="width: 100%;">
        <MudText Typo="Typo.h5">Test</MudText>

        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary"
            Size="Size.Small">Create Test</MudButton>

    </div>

    <div style="width: 100%; border: 1px solid;" class="my-4" />

    @if (Items != null && Items.Any())
    {
        <div class="mud-grid mud-grid-spacing-xs-2">
            @foreach (var item in Items)
            {
                <MudCard Class="p-4 mud-width-full">
                    @* <MudCardContent>
                        <MudText Typo="Typo.h6">@item.Name</MudText>
                        <MudText Typo="Typo.caption">ID: @item.Id</MudText>
                        <MudText Typo="Typo.caption">Password: @item.Password</MudText>
                        <MudText Typo="Typo.caption">Sources: @item.Sources</MudText>
                    </MudCardContent> *@
                </MudCard>
            }
        </div>
    }
    else
    {
        <MudPaper Class="pa-4">
            <MudStack AlignItems="AlignItems.Center">
                <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.ImageNotSupported" Title="Empty" />
                <MudText Typo="Typo.h5">No test available</MudText>
            </MudStack>
        </MudPaper>
    }
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    public List<Room> Items { get; set; } = [];
}
